.loginMainBody{
    background-color: #0782d3;
    width: 100%;
    height: 100vh;
    margin: 0;
  }
  .LoginInputSection{
    
    border: 1px solid rgba(196, 196, 196, 0.4);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    height: 44px;
    color:white;
  }
  .LoginInputSection::placeholder{
      color: #FFFFFF66;
  }